{%extends 'base.html.twig' %}

{%block title "Tableau de bord de la recette : " ~ recipe.title %}
{%block body %}
    <h1>Édition de la recette : {{ recipe.title | upper }}</h1>
    {{ form(form) }}
    <div>
        <a class="btn btn-primary" href="{{ url('recipe.index') }}">Retour</a>
    </div>
{% endblock %}