{% extends 'base.html.twig' %}

{% block title "Listes des recettes" %}
{% block body %}
    Je suis un template pour les recettes !

    <ul>
        <li>
            <a href="{{ url('recipe.show', {'id': '32', 'slug': 'pate-bolognaise'}) }}">Pâtes Bolognaises</a>
        </li>
    </ul>
{% endblock %}