{% extends 'base.html.twig' %}

{% block title "Listes des recettes" %}
{% block body %}
    Je suis un template pour les recettes !

    <ul>
    {% for recipe in recipes %}
        <li>
            <a href="{{ url('recipe.show', {'id': recipe.id, 'slug': recipe.slug}) }}">{{ recipe.title }}</a>
        </li>
    {% endfor %}    
    </ul>
    <div>
        <a class="btn btn-primary" href="{{ url('recipe.create') }}">Créer une nouvelle recette</a>
    </div>
{% endblock %}