{% extends 'base.html.twig' %}

{% block title "recette : " ~ recipe.title  %}
{% block body %}
    <h1>Recette : {{ recipe.title | upper }}</h1>
    <p>Contenu de la recette : {{ recipe.content | nl2br }}</p>
{% endblock %}